In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

**Import** **Dataset**

In [ ]:
df = pd.read_csv('titanic.csv',na_values='?')

In [ ]:
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,0,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,1,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,0,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,895,0,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
4,896,1,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S

In [ ]:
df.shape

(418, 12)

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 418 entries, 0 to 417
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  418 non-null    int64
 1   Survived     418 non-null    int64
 2   Pclass       418 non-null    int64
 3   Name         418 non-null    object
 4   Sex          418 non-null    object
 5   Age          332 non-null    float64
 6   SibSp        418 non-null    int64
 7   Parch        418 non-null    int64
 8   Ticket       418 non-null    object
 9   Fare         417 non-null    float64
 10  Cabin        91 non-null     object
 11  Embarked     418 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 39.3+ KB

In [ ]:
df.columns.value_counts()

PassengerId    1
Survived       1
Pclass         1
Name           1
Sex            1
Age            1
SibSp          1
Parch          1
Ticket         1
Fare           1
Cabin          1
Embarked       1
Name: count, dtype: int64

In [ ]:
df["Embarked"].value_counts()

Embarked
S    270
C    102
Q     46
Name: count, dtype: int64

In [ ]:
df1 = df.drop(['PassengerId','Name','Cabin','Ticket'],axis=1)

In [ ]:
#df1=df1.drop(['Fare'],axis=1)

In [ ]:
df1.columns

Index(['Survived', 'Pclass', 'Sex', 'Age', 'SibSp', 'Parch', 'Fare',
       'Embarked'],
      dtype='object')

In [ ]:
df1 = df1.dropna()

In [ ]:
df1.shape

(331, 8)

In [ ]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
Index: 331 entries, 0 to 415
Data columns (total 8 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Survived  331 non-null    int64
 1   Pclass    331 non-null    int64
 2   Sex       331 non-null    object
 3   Age       331 non-null    float64
 4   SibSp     331 non-null    int64
 5   Parch     331 non-null    int64
 6   Fare      331 non-null    float64
 7   Embarked  331 non-null    object
dtypes: float64(2), int64(4), object(2)
memory usage: 23.3+ KB

In [ ]:
df1 = pd.get_dummies(df1,dtype=int)

In [ ]:
df1.head()

,Survived,Pclass,Age,SibSp,Parch,Fare,Sex_female,Sex_male,Embarked_C,Embarked_Q,Embarked_S
0,0,3,34.5,0,0,7.8292,0,1,0,1,0
1,1,3,47.0,1,0,7.0000,1,0,0,0,1
2,0,2,62.0,0,0,9.6875,0,1,0,1,0
3,0,3,27.0,0,0,8.6625,0,1,0,0,1
4,1,3,22.0,1,1,12.2875,1,0,0,0,1

In [ ]:
numerical_features = ['Age', 'SibSp', 'Parch','Fare']

In [ ]:
cat_feature = list(set(df1.columns) - set(numerical_features) - set(['Survived']))

In [ ]:
from sklearn.preprocessing import StandardScaler

In [ ]:
scaler = StandardScaler()

In [ ]:
def scaled_data(df1,numerical_features,cat_feature,scaler):
  scaled_numerical = scaler.fit_transform(df1[numerical_features])
  scaled_col = df1[cat_feature].to_numpy()
  x = np.hstack((scaled_numerical, scaled_col))
  y = df1["Survived"]
  return x,y

In [ ]:
x_train, y_train = scaled_data(df1,numerical_features,cat_feature,scaler )
x_train.shape,y_train.shape

((331, 10), (331,))

In [ ]:
from sklearn.model_selection import train_test_split

In [ ]:
X_train, X_test, Y_train, Y_test = train_test_split(x_train, y_train, test_size=0.2, random_state=42)

In [ ]:
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

In [ ]:
model = LogisticRegression()
model.fit(X_train, Y_train)
predictions = model.predict(X_test)
accuracy_score(predictions, Y_test)

1.0

In [ ]:
from sklearn.svm import SVC

In [ ]:
model1 = SVC()
model1.fit(X_train, Y_train)
predictions = model1.predict(X_test)
accuracy_score(predictions, Y_test)

0.9701492537313433